@import "~@/lib/reset.scss";
.login {
    img {
        @include rect(100%, 1rem);
    }
    .loginifo {
        padding: 0 0.05rem;
        @include background-color(#fff);
        p {
            @include flexbox();
            @include rect(100%, 0.5rem) span {
                @include rect(10%, 100%);
                @include flexbox();
                @include justify-content();
                @include align-items();
                @include font-size(0.18rem);
            }
            input {
                @include rect(auto, 100%) border: 0;
                @include flex();
                outline: none;
            }
            .icon-cuo{
                @include text-color(#f00);
                
            }
            .icon-dui{
                @include text-color(#63d01f);
                
            }
        }
        .user {
            border-bottom: 0.01rem solid #cecece;
        }
        .psd {}
    }
    .loginaction {
        div {
            @include rect(100%, auto);
            padding: 0.2rem 0.1rem 0.1rem 0.1rem;
            .nologin {
                @include rect(100%, 0.4rem);
                @include background-color(#eee);
                @include font-size(0.18rem);
                @include line-height(0.4rem);
                @include text-align();
                border-radius: 0.05rem;
                @include text-color(#999);
                border: 0;
                outline: none;
            }
            .islogin {
                @include rect(100%, 0.4rem);
                @include background-color(#77bc1f);
                @include font-size(0.18rem);
                @include line-height(0.4rem);
                @include text-align();
                border-radius: 0.05rem;
                @include text-color(#fff);
                border: 0;
                outline: none;
            }
        }
        p {
            @include rect(100%, auto);
            padding: 0 0.1rem;
            @include flexbox();
            @include justify-content(space-between);
            @include align-items();
            @include font-size(0.14rem);
            a {
                @include text-color(#333);
            }
        }
    }
}